<div class="container-fluid">

  <form action="" [formGroup]="signUpForm">
    <div class="form-group">
      <label for="email" class="input-label">Email</label>
      <input type="email" class="form-control" id="email"
          aria-describedby="emailHelp" formControlName="email">
  </div>
  <div class="form-group">
      <label for="display_name" class="input-label">Display Name</label>
      <input type="text" class="form-control" id="display_name"
           placeholder="" formControlName="display_name">
  </div>
  <div class="form-group">
      <label for="username" class="input-label">Username</label>
      <input type="text" class="form-control" id="username"
           placeholder="" formControlName="username">
  </div>
  <div class="form-group">
    <label for="dob" class="input-label">DOB</label>
    <input type="date" class="form-control" id="dob"
         placeholder="" formControlName="dob">
</div>
  <div class="form-group">
    <label for="password" class="input-label">Password</label>
    <input type="password" class="form-control" id="username"
         placeholder="" formControlName="password">
</div>
<div class="form-group">
  <label for="confirmpassword" class="input-label">Confirm Password</label>
  <input type="password" class="form-control" id="username"
       placeholder="" formControlName="confirmpassword">
</div>
  </form>

    <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="vibeShot-primary-btn" (click)="onSignup()">Continue</button>
    </div>
    <div class="social-login">
        <div class="divider">
            <span>OR</span>
        </div>
        <div class="subtext">Login or sign up with</div>
        <div class="icons">
            <div class="icon"><img src="../../assets/facebook.png" alt="" class="facebook"></div>
            <div class="icon"><img src="../../assets/google.png" alt="" class="google"></div>
        </div>
    </div>
    <div class="load-spinner" *ngIf="loader">
      <app-spinner></app-spinner>
    </div>
</div>
